.App {
  text-align: center;
}

.header {
  margin-top: 20px;
  color: white;
}

.card-img {
  height: 15rem;
  width: 15rem;
  margin-top: 10px;
}

.card-size {
  width: 20rem;
  margin: 40px 50px;;
  border-radius: 25px;
}

.navbar {
  background-color: rgba(54,112,255,1);
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  padding: 60px;
}

.card:hover {
  box-shadow: 0px 25px 51px -11px rgba(54,112,255,1);
  transition: 0.5s all;
  cursor: pointer;
}
