.App {
  text-align: center;
}

.button {
  background-color: #3670FF !important;
}

.header {
  margin-top: 20px;
  color: white;
  margin-left: 30px;
  font-weight: 100;
}

.courses-heading {
  margin-left: 56px;
  font-weight: 300;
  border-bottom: 2px solid;
  display: flex;
  align-items: center;
}

.card-img {
  height: 15rem;
  width: 15rem;
  margin-top: 10px;
}

.card-size {
  width: 20rem;
  margin: 40px 50px;;
  border-radius: 25px;
}

.navbar {
  background-color: rgba(54,112,255,1);
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  padding: 60px;
}

.card:hover {
  box-shadow: 0px 25px 51px -11px rgba(54,112,255,1);
  transition: 0.5s all;
  cursor: pointer;
}

/* question-card */

.ans-options {
  display: flex;
  justify-content: start;
  padding: 1rem;
  width: 50%;
  border-radius: 4px;
  margin: 0.25rem;
  align-items: center;
}

.bg-white {
  background-color: #fff;
  color: #000;
  border: 1px solid rgb(186, 205, 247);
}

.bg-blue {
  background-color: #3670FF;
  color: #fff;
}

.topic-heading {
  margin-top: 20px;
  text-align: left;
  font-weight: 300;
  font-size: 48px !important;
  color: #3670FF;
}

.modal-background {
  background-color: #fff !important;
}

.checkbox {
  margin-right: 1rem;
}

.modal-close {
  color: black !important;
  background-color: grey;
}

.mb-1 {
  margin-bottom: 2rem;
}

.modal-content {
  width: 80% !important;
}

.chZpAy {
  display: inline-block;
  box-sizing: border-box;
  position: relative;
  margin-top: 2px;
  height: 20px;
  width: 20px;
  min-width: 20px;
  margin-right: 12px;
}

.opt-text {
  font-family: "Nunito Sans", sans-serif;
    font-weight: 400;
    letter-spacing: normal;
    font-size: 18px;
    line-height: 27px;
}

.blu-bg {
  background-color: rgb(19, 44, 185);
  border-radius: 2px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(19, 44, 185);
  border-image: initial;
}

.wht-bg {
  background-color: #fff;
  border-radius: 2px;
  border-width: 1px;
  border-style: solid;
  border-color: #000;
  border-image: initial;
}

.hide {
  display: none;
}

.video-container {
  margin-top: 2rem;
}

.slider-container {
  z-index: 7;
  position: absolute;
  top: calc(100vh - 9rem);
}

.main-container-bottom {
  background: black;
  border: none;
  padding: 1.5rem;
  width: calc(100vw - 26rem);
  border-radius: 0.2rem;
  outline: transparent;
  color: #ffffff;
}

.m-abs-bottom {
  z-index: 7;
  position: absolute !important;
  top: calc(100vh - 9.4rem);
  left: 13rem;
}

.play {
  display: flex;
}

.play-pause-btn {
  height: 1.2rem;
  margin-left: -10px;
  color: white;
  margin-right: 0.5rem;
  cursor: pointer;
}

.button-img-container {
  background: transparent;
  border: none;
  outline: none;
}

.rc-slider {
  margin-top: 5px;
}

.next-button {
  position: absolute;
  bottom: 46px;
  right: 18px;
  background-color: #3670FF !important;
  /* font-size: 34px; */
}

.generating-content-progress {
  width: 80%;
  background-image: linear-gradient(to right,rgba(54,112,255,1) 30%,#ededed 30%) !important;
}

.sidepanel {
  width: 100%;
  position: absolute;
  z-index: 10;
  background-color: grey;
  transition: 1s;
  padding: 2rem;
  background: #002140;
}

.flex {
  display: flex;
  justify-content: space-between;
  text-align: left;
  height: 50vh;
}

.panel-show {
  left: 0;
}

.panel-hide {
  left: -1500px;
}

.gry {
  color: gray;
  margin-bottom: 2rem;
}

.right {
  position: absolute;
  right: 10%;
}

.tal {
  text-align: left;
  margin-bottom: 1rem;
  width: 25%;
}

.wht {
  color: white;
}

.react-codemirror2 {
  width: 70%;
}